automation/n8n-deployment/workflows/daily-report.json
{
  "name": "Daily Homelab Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 8 * * *"}]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 8am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 400],
      "webhookId": "daily-report"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\n\n// Build report\nconst report = {\n  embeds: [{\n    title: '🏠 Homelab Daily Report',\n    description: '**' + dateStr + '**',\n    color: 3447003,\n    fields: [\n      {\n        name: '✅ Cluster Health',\n        value: 'K3s: 4 nodes ready\\netcd: 3/3 healthy',\n        inline: true\n      },\n      {\n        name: '🟢 Services',\n        value: 'All services operational',\n        inline: true\n      },\n      {\n        name: '📊 Nodes',\n        value: '• k3s-cp-1 (control)\\n• k3s-cp-2 (control)\\n• k3s-cp-3\\n• k3s-worker-1',\n        inline: false\n      },\n      {\n        name: '🔗 Quick Links',\n        value: '[Grafana](http://grafana.cluster.local) | [Rancher](https://rancher.cluster.local) | [n8n](http://n8n.cluster.local)',\n        inline: false\n      }\n    ],\n    footer: { text: 'n8n Automation • Next report: Tomorrow 8:00 AM' },\n    timestamp: now.toISOString()\n  }]\n};\n\nreturn [{ json: report }];"
      },
      "id": "build-report",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "send-discord",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Daily 8am Trigger": {
      "main": [[{"node": "Build Report", "type": "main", "index": 0}]]
    },
    "Manual Trigger": {
      "main": [[{"node": "Build Report", "type": "main", "index": 0}]]
    },
    "Build Report": {
      "main": [[{"node": "Send to Discord", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
