automation/n8n-deployment/workflows/prometheus-alerts.json
{
  "name": "Prometheus Alerts to Discord",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prometheus-alerts",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Prometheus Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "prometheus-alerts"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst alerts = input.body?.alerts || input.alerts || [];\nconst results = [];\n\nfor (const alert of alerts) {\n  const status = alert.status;\n  const severity = alert.labels?.severity || 'unknown';\n  const alertname = alert.labels?.alertname || 'Unknown Alert';\n  const instance = alert.labels?.instance || 'N/A';\n  const job = alert.labels?.job || 'N/A';\n  const description = alert.annotations?.description || alert.annotations?.summary || 'No description';\n  \n  let color = 16776960;\n  if (status === 'resolved') {\n    color = 65280;\n  } else if (severity === 'critical') {\n    color = 16711680;\n  } else if (severity === 'warning') {\n    color = 16744448;\n  }\n  \n  const emoji = status === 'resolved' ? '✅' : (severity === 'critical' ? '🚨' : '⚠️');\n  const title = emoji + ' ' + status.toUpperCase() + ': ' + alertname;\n  \n  const payload = {\n    embeds: [{\n      title: title,\n      description: description,\n      color: color,\n      fields: [\n        { name: 'Severity', value: severity, inline: true },\n        { name: 'Instance', value: instance, inline: true },\n        { name: 'Job', value: job, inline: true }\n      ],\n      timestamp: new Date().toISOString(),\n      footer: { text: 'Prometheus Alertmanager' }\n    }]\n  };\n  \n  results.push({ json: payload });\n}\n\nreturn results;"
      },
      "id": "parse-alerts",
      "name": "Build Discord Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "discord-webhook",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Prometheus Webhook": {
      "main": [[{"node": "Build Discord Payload", "type": "main", "index": 0}]]
    },
    "Build Discord Payload": {
      "main": [[{"node": "Send to Discord", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"}
}
